body {
    font-family: Helvetica;
    width: 500px;
}

img{
    width: 500px;
}
#c{
    background-image: url("images/fondo.jpg");
    height: 400px;
    background-size: contain ;
}

h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 12pt;
}
h4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 12pt;
}


h1 {
    font-weight: lighter;
}

h2 {
    color: gray;
    font-size: 10pt;
    margin-bottom: 100px;
}

p{
    margin-bottom: 100px;
}


ul{
    list-style: none;
    font-size: 9pt;
    color: grey;
    margin-bottom: 40px;
}

div{
    background-color: rgb(44, 44, 44);
    color: white;
    list-style: none;
    padding: 40px;
    
}

div li {
    margin: 20px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(177, 138, 255);
    text-decoration: underline;
}